@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BGCOLOR: black;
  --BUTTONS-NUMBER: orange;
  --OPERATOR-COLOR: rgb(29, 23, 23);
  --CRIMSON-COLOR: crimson;
}

#calculator-section {
  font-family: "Madimi One", sans-serif;
  background-color: black;
  width: 100%;
  height: 100vh;
}

.Numbers ul .calculate {
  background-color: var(--CRIMSON-COLOR);
}

.output-calculator {
  width: 100%;
  height: 40%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  color: white;
}

.output-calculator button {
  width: max-content;
  padding: 5px 30px; 
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--CRIMSON-COLOR);

  outline: none;
  border: none;
}

.output-calculator ul {
  height: 90%;
  overflow-y: auto;
  padding: 20px;
  flex-direction: column-reverse;
  gap: 20px;
  align-items: center;
  display: flex;

  width: 100%;
}

.output-calculator ul::-webkit-scrollbar {
  display: none;
}
.output-calculator ul li {
  list-style-type: none;
  display: flex;
  width: 100%;

  justify-content: space-between;
}

.calculator-operations {
  width: 100%;
  height: 60%;
  background-color: rgb(1, 1, 12);
  display: flex;
}

.calculator-operations .Numbers {
  width: 80%;
  height: 100%;
}

.calculator-operations .operators {
  width: 20%;
  height: 100%;
  background-color: black;
}

.calculator-operations .operators ul {
  display: grid;
  width: 100%;
  padding: 10px;
  gap: 10px;

  height: 100%;
  justify-items: center;
  align-content: center;
  grid-template-rows: repeat(4, 1fr);
}

.calculator-operations .operands {
  background-color: var(--OPERATOR-COLOR);
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.calculator-operations .operators ul li {
  cursor: pointer;
  color: wheat;
  width: 1.5cm;
  height: 1.5cm;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  list-style-type: none;
}

.calculator-operations .Numbers ul {
  display: grid;
  padding: 10px;
  gap: 10px;
  height: 100%;
  justify-items: center;

  width: 100%;
  background-color: rgb(4, 12, 19);
  grid-template-columns: repeat(4, 1fr);
}
.calculator-operations .Numbers ul .nums {
  color: black;
  background-color: var(--BUTTONS-NUMBER);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.calculator-operations .Numbers ul li {
  cursor: pointer;

  width: 1.5cm;
  height: 1.5cm;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  list-style-type: none;
}

.Numbers ul button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 1.5cm;
  height: 1.5cm;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  color: white;
  background-color: var(--OPERATOR-COLOR);
  border-radius: 50px;
  border: none;
}

.Numbers ul #clear {
  width: 1.5cm;
  height: 1.5cm;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--CRIMSON-COLOR)
}

.Inputs {
  background-color: var(--OPERATOR-COLOR);
  height: 1cm;
  display: flex;
  align-items: center;
  padding-left: 20px;
  outline: none;
  font-size: small;
  border: 2px solid var(--CRIMSON-COLOR);
  border-radius: 10px;
  width: 70%;
  color: white;
}

.MainInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


@media screen and (min-width: 900px){
  .Numbers ul button {
    width: 2cm;
    height: auto;
  }

  .calculator-operations .Numbers ul li {
    width: 2cm;
    height: auto;
  }
  .calculator-operations .operators ul li {
    width: 2cm;
    height: auto;
  }

  .Numbers ul #clear {
    width: 2cm;
    height: auto;

  }
}